<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Text Messaging App for Classrooms">
  <link href="/assets/img/favicon.ico" rel="icon" type="image/x-icon">
  <meta name="csrf-token" content="{{csrfToken}}">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Gothic+A1" rel="stylesheet">
  <link href="/css/theme.css" rel="stylesheet" type="text/css" media="all" />
  <title>{{ title }}</title>
</head>

<body>
  <div class="layout layout-nav-side">
    <div class="navbar navbar-expand-lg bg-dark navbar-dark sticky-top">
      <a class="navbar-brand" href="/home">
        <img alt="Pipeline" src="/assets/img/logo.svg" />
      </a>
      <div class="d-flex align-items-center">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-collapse"
          aria-controls="navbar-collapse" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="d-block d-lg-none ml-2">
          <div class="dropdown">
            <a href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <img alt="Image" src="/assets/img/avatar-male-4.jpg" class="avatar" />
            </a>
            <div class="dropdown-menu dropdown-menu-right">
              <a href="nav-side-user.html" class="dropdown-item">Profile</a>
              <a href="utility-account-settings.html" class="dropdown-item">Account Settings</a>
              <a href="#" class="dropdown-item">Log Out</a>
            </div>
          </div>
        </div>
      </div>
      <div class="collapse navbar-collapse flex-column" id="navbar-collapse">
        <ul class="navbar-nav d-lg-block">
          <li class="nav-item">
            <a class="nav-link" href="/home">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/courses">Courses</a>
          </li>
        </ul>
        {{{block "sidebar-links"}}}
      </div>
      <div class="d-none d-lg-block">
        <div class="dropup">
          <a href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <img alt="Image" src="/assets/img/avatar-male-4.jpg" class="avatar" />
          </a>
          <div class="dropdown-menu">
            <a href="nav-side-user.html" class="dropdown-item">Profile</a>
            <a href="utility-account-settings.html" class="dropdown-item">Account Settings</a>
            <a href="#" class="dropdown-item">Log Out</a>
          </div>
        </div>
      </div>
    </div>
    <div class="main-container">
      {{{block "breadcrumbs"}}}

      {{{body}}}
    </div>
  </div>
  {{jsAssetPath 'index.js'}}
</body>

</html>
